<li id="<%= code %>" class="accordion__section<%= first ? ' accordion__section--select' : ''%> ">
	<p><i class="fa fa-<%= first ? 'minus' : 'plus' %>"></i> <%= short_name %></p>
	<ul class="deals<%= first ? '' : ' accordion__section--hide' %>"></ul>
</li>