<li>
  <div class="grid">
    <div class="show-tablet-plus deal__image">
      <span></span><img src="<%= image %>">
    </div>
    <div class="grid__deal__title deal__title deal__title--shift">
      <h3><%= deal %></h3>
      <p>Deal from <%= available_from %> to <%= available_to %>, from <%= store %></p>
    </div>
    <div class="grid__deal__more show-desktop-plus deal__more">
      <p>View more <i class="fa fa-play"></i></p>
    </div>
  </div>
</li>