<li>
  <div class="grid">
    <div class="g-deal-img show-tablet-plus deal__image">
      <span></span><img src="<%= image %>">
    </div>
    <div class="g-deal deal__title deal_title--shift">
      <h3><%= deal %></h3>
      <p>Deal from <%= available_from %> to <%= available_to %>, from <%= store %></p>
    </div>
    <div class="g-deal-more show-desktop-plus deal__more">
      <p>View more <i class="fa fa-play"></i></p>
    </div>
  </div>
</li>